@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --color-bomb-light: #333333;
  --color-bomb-dark: #000000;
  --color-defuse-light: #66BB6A;
  --color-defuse-dark: #2e7d32;
  --color-skip-light: #42A5F5;
  --color-skip-dark: #1565c0;
  --color-nope-light: #EF5350;
  --color-nope-dark: #c62828;
  --color-points-light: #FFFFFF;
  --color-points-dark: #a9a9a9;

}

.bomb {
  color: #f2f2f2;
  background: linear-gradient(var(--color-bomb-dark), var(--color-bomb-light));
}

.bomb img {
  content: url(../images/bomb.png);
}

.defuse {
  background: linear-gradient(var(--color-defuse-dark), var(--color-defuse-light));
}

.defuse img {
  content: url(../images/defuse.png);
}

.skip-turn {
  background: linear-gradient(var(--color-skip-dark), var(--color-skip-light));
}

.skip-turn img {
  content: url(../images/skip.png);
}

.nope {
  background: linear-gradient(var(--color-nope-dark), var(--color-nope-light));
}

.nope img {
  content: url(../images/nope.png);
}

.points {
  background: linear-gradient(var(--color-points-dark), var(--color-points-light));
}

.points img {
  content: url(../images/points.png);
}


body {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}



#card {
  display: flex;
  border-radius: 10px;
  height: 410px;
  width: 290px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  z-index: 1;

}

header {
  display: flex;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: rotate(180deg);
}


.icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 15%;
}

.cardData {
  padding-left: 70px;
}

#cardBody {
  display: flex;
  justify-content: center;
}

h2{
  color: #f2f2f2;
}

button {
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

